p{
    padding: 5px;
    margin: 0px;
}
#one{
    background-color: #014d01;
    color: #014d01;
}
#two{
    background-color: #025a02;
    color: #025a02;
}
#three{
    background-color: #036803;
    color: #036803;
}
#four{
    background-color:#037203;
    color: #037203;
}
#five{
    background-color: #038303;
    color: #038303;
}
#six{
    background-color: #049704;
    color: #049704;
}
#seven{
    background-color: #04aa04;
    color: #04aa04;
}
#eight{
    background-color: #04c004;
    color: #04c004;
}
#nine{
    background-color: #04cc04;
    color: #04cc04;
}
#ten{
    background-color: #04d804;
    color: #04d804;
}
#eleven{
    background-color: #7cd804;
    color: #7cd804;
}
#twelve{
    background-color: #93e004;
    color: #93e004;
}
#thirteen{
    background-color: #cae004;
    color: #cae004;
}
#fourteen{
    background-color: #e0d104;
    color: #e0d104;
}
#fifteen{
    background-color: #e0ca04;
    color: #e0ca04
}
#sixteen{
    background-color: #e0bf04;
    color: #e0bf04;
}
#seventeen{
   background-color: #e0ad04;
   color:  #e0ad04;
}
#eighteen{
    background-color: #e09a04;
    color: #e09a04;
}
#ninteen{
    background-color: #e08804;
    color: #e08804;
}
#twenty{
    background-color: #e07904;
    color: #e07904;
}
#twentyone{
    background-color: #e06704;
    color: #e06704;
}
#twentytwo{
    background-color: #e05c04;
    color: #e05c04;
}
#twentythree{
    background-color: #e04a04;
    color: #e04a04;
}
#twentyfour{
    background-color: #e03704;
    color: #e03704;
}
#twentyfive{
    background-color: #e00404;
    color: #e00404;
}
#twentysix{
    background-color: #d60606;
    color: #d60606;
}
#twentyseven{
    background-color: #c70505;
    color: #c70505;
}
#twentyeight{
    background-color: #b80606;
    color: #b80606;
}
#twentynine{
    background-color: #aa0505;
    color: #b80606;
}
#thirty{
    background-color: #a70707;
    color: #a70707;
}